nav .container-fluid ul li a{
    color: white;
}
.navbar{
    justify-content: space-between;
}
.jumbotron{
background-color: whitesmoke;
padding: 5%;
}
nav .container-fluid a{
    color: white;
}
.linea-cards{
    /*margin-top: 5%;*/
    display: flex;
}
.card-containers{
    margin: 0 !important; 

}

.fila{
    display: flex;
    margin-top: 3%;
    margin-bottom: 4%;
}

.final_boton{
    background-color: whitesmoke;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.linea_boton{
    margin: 0;
    
}

.foot{
    display: flex;
  justify-content: center;
  align-items: center;
    height: 12vh;
}
.color-w{
    color: white;
}
