nav .container-fluid ul li a{
    color: white;
}
.navbar{
    justify-content: space-between;
}
.jumbotron{
background-color: whitesmoke;
}
nav .container-fluid a{
    color: white;
}
.linea-cards{
    /*margin-top: 5%;*/
    display: flex;
}